{% extends 'web_base.html' %}
{% load staticfiles %}

{% block title %}
  项目分类
{% endblock title %}

{% block other_css %}
  <!-- 弹框详情css -->
  <style>
    .popover-title {
      color: #003366;
      font-weight: bolder;
    }

    .popover {
      background-color: #3a3f51;
      color: white;
    }
  </style>
{% endblock other_css %}

{% block center_content %}
  <div class="col">
    <p style="height: 2px;"></p>
    <!-- 中间栏 -->
    <div class="padder">
      <!-- 用户反馈 -->
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div style="border-left: 4px solid #003366; margin-bottom: 10px; margin-top: 10px; height: 25px;font-size: 18px;">
              <span>&nbsp;&nbsp;{{ content_title|safe }}</span>
            </div>
          </div>
          <div class="panel-body" style="height: 745px;">

            <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

              <!-- 添加搜索栏 -->
              <div class="row">
                <div class="col-sm-12" style="margin-left: 15px;">

                  <a class="btn btn-sm btn-default btn-add" data-toggle="modal" data-backdrop='static'
                     data-target="#addCateModal">
                    <i class="fa fa-plus"></i> 添加分类
                  </a>

                  <form class="navbar-form pull-right" role="search" style="margin-top: 0;margin-right: 15px; ">
                    <div class="form-group">
                      <span>共 <b style="color: orangered">{{ cate_nums }}</b> 条&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <div class="input-group">
                        <input type="text" class="form-control input-sm bg-light no-border rounded "
                               placeholder="关键词搜索" name="keywords" style="width: 150px;">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm bg-auto rounded">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </form>

                </div>
              </div>

              <div class="row" style="height: 600px;">
                <div class="col-sm-12">

                  {% for project_cate in project_cates.object_list %}
                    <div class="col-sm-4">
                      <div class="panel panel-colorful">
                        <div class="panel-heading" style="background-color: #003366; color: white;">
                          <h3 class="panel-title">
                            {{ project_cate.name }}{% if not project_cate.is_use %}
                              <span style="color: orangered">&nbsp;&nbsp;&lt;分类已关闭&gt;</span>{% endif %}
                          </h3>
                        </div>
                        <div class="panel-body">
                          <div class="col-sm-8">
                            <button style="color: #003366; border: 0; background-color:#fff; padding-left: 0px"
                                    title="项目简介" data-container="body" data-toggle="popover" data-trigger="hover"
                                    data-placement="bottom" data-content="{{ project_cate.desc }}">
                              {{ project_cate.desc|slice:'10' }}...
                            </button>
                          </div>
                          <div class="col-sm-4">
                            <span>
                              <a data-toggle="modal" data-backdrop='static'
                                 data-target="#ManaCateModal{{ project_cate.id }}" style="color: #003366">管理</a>
                                  |
                              <a href="{% url 'project_mana:project_list' project_cate.id %}" style="color: #003366">查看列表</a></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>
              </div>
            </div>

            <!-- 页码 -->
            <div class="row">
              <div class="col-md-12 text-center">
                <ul class="pagination" style="margin-top: 0px;">
                  <!-- 上一页 -->
                  {% if project_cates.has_previous %}
                    <li class="long"><a href="?{{ project_cates.previous_page_number.querystring }}">上一页</a></li>
                  {% endif %}
                  <!-- 页码 -->
                  {% for page in project_cates.pages %}
                    {% if page %}
                      {% ifequal page project_cates.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                class="sr-only">(current)</span></a></li>
                      {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}<span class="sr-only"></span></a></li>
                      {% endifequal %}
                    {% else %}
                      <li><a href="">...<span class="sr-only"></span></a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- 下一页 -->
                  {% if project_cates.has_next %}
                    <li><a href="?{{ project_cates.next_page_number.querystring }}">下一页<span class="sr-only"></span></a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock center_content %}

{% block other_js %}
  <!-- 添加分类 -->
  <div class="modal fade" id="addCateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #003366; color: white;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white">&times;</span>
          </button>
          <h4 class="modal-title">新增项目分类</h4>
        </div>

        <div class="modal-body" style="padding: 0; padding-top: 15px;">
          <form class="form-horizontal" id="js_addCateForm">
            <div class="form-group">
              <label class="col-sm-3 control-label">分类名称</label>
              <div class="col-sm-8">
                <input type="text" name="name" class="form-control" placeholder="输入分类名称"
                       maxlength="255">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">开发团队</label>
              <div class="col-sm-8">
                <input type="text" name="dev_group" class="form-control" placeholder="输入开发团队leader"
                       maxlength="255">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">类别说明</label>
              <div class="col-sm-8">
                <textarea class="form-control" name="desc" rows="5" placeholder="备注信息..."></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <input type="button" id="js_addCateBtn"
                     style="width: 100px;height: 25px;line-height: 25px;text-align: center;background: #003366;border: 0;border-radius: 4px;color: white; margin-right: 30px;"
                     value="添加">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 添加类别提交 -->
  <script>
      $(function () {
          // 提交表单
          $('#js_addCateBtn').on('click', function () {
              $.ajax({
                  cache: false,
                  type: "POST",
                  url: "{% url 'project_mana:add_project_category' %}",
                  data: $('#js_addCateForm').serialize(),
                  async: true,
                  beforeSend: function (xhr, settings) {
                      // 这里需要csrf_token的值，而不是代码
                      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                  },
                  success: function (data) {
                      if (data.status == 'success') {
                          window.location.href = "{% url 'project_mana:project_category' %}";
                          window.alert(data.msg);
                      } else if (data.status == 'fail') {
                          window.location.href = "{% url 'project_mana:project_category' %}";
                          window.alert(data.msg);
                      }
                  }
              });
          });
      })
  </script>

  {% for project_cate in project_cates.object_list %}
    <!-- 管理分类 -->
    <div class="modal fade" id="ManaCateModal{{ project_cate.id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" style="width: 300px;padding-top: 10%;">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #003366; color: white;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color: white">&times;</span>
            </button>
            <h4 class="modal-title">【开启 / 关闭】该分类</h4>
          </div>
          <form class="form-horizontal" id="js_manaCateForm{{ project_cate.id }}">
            <div class="modal-body" style="height: 50px;">
              <div class="col-sm-6">
                项目状态
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                {% if project_cate.is_use %}
                  <input type="hidden" name="cate_id" value="{{ project_cate.id }}">
                  <input type="hidden" name="cate_status" value="on">
                  <input type="button" id="js_manaCateBtn{{ project_cate.id }}" class="no-border"
                         style="background-color: white; color: orangered;" value="点击关闭">
                {% else %}
                  <input type="hidden" name="cate_id" value="{{ project_cate.id }}">
                  <input type="hidden" name="cate_status" value="off">
                  <input type="button" id="js_manaCateBtn{{ project_cate.id }}" class="no-border"
                         style="background-color: white; color: green;" value="点击开启">
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 管理类别提交 -->
    <script>
        $(function () {
            // 提交表单
            $('#js_manaCateBtn{{ project_cate.id }}').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'project_mana:mana_project_category' %}",
                    data: $('#js_manaCateForm{{ project_cate.id }}').serialize(),
                    async: true,
                    beforeSend: function (xhr, settings) {
                        // 这里需要csrf_token的值，而不是代码
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == 'success') {
                            window.location.href = "{% url 'project_mana:project_category' %}";
                            window.alert(data.msg);
                        } else if (data.status == 'fail') {
                            window.alert(data.msg);
                        }
                    }
                });
            });
        })
    </script>
  {% endfor %}

  <!-- 记录详情 -->
  <script>
      $(function () {
          $("[data-toggle='popover']").popover();
      });
  </script>
{% endblock other_js %}
