{% extends 'users_base.html' %}
{% load staticfiles %}


<!-- 页面标题 -->
{% block web_title %}
  忘记密码 | OPMS - 运维管理系统
{% endblock web_title %}


<!-- 页面主体 -->
{% block web_content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row" style="margin-top: 40%">

      <div class="col-md-12">
        <div class="ibox-content">

          <i class="glyphicon glyphicon-send" style="font-size: x-large; color: #1c2b36;">&nbsp;</i>
          <h2 class="font-bold" style="display: inline; color: #1c2b36;">忘记密码</h2>

          <p style="margin-top: 30px;">
            输入您的邮箱, 将会发一封重置找回密码邮件到您的邮箱中！
          </p>

          <!-- 邮箱表单 -->
          <div class="row">
            <div class="col-lg-12">
              <form class="m-t" role="form" action="" id="id_ForgetPasswordForm" method="post">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="邮箱地址" required="">
                </div>
                <input type="button" id="id_jsForgetPasswordBtn" class="btn btn-black block full-width m-b"
                       style="color: white" value="提交">
              </form>
            </div>
          </div>

          <small>记起密码? | <a href="{% url 'users:login' %}" style="color: #003366;">现在登录</a></small>

        </div>
      </div>
    </div>
  </div>
{% endblock web_content %}


{% block other_js %}
  <script>
      $(function () {
          // 提交表单
          $('#id_jsForgetPasswordBtn').on('click', function () {
              $.ajax({
                  cache: false,
                  type: "POST",
                  url: "{% url 'users:forget_password' %}",
                  data: $('#id_ForgetPasswordForm').serialize(),
                  async: true,
                  beforeSend: function (xhr, settings) {
                      // 这里需要csrf_token的值，而不是代码
                      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                  },
                  success: function (data) {
                      if (data.status == 'success') {
                          $('#id_ForgetPasswordForm')[0].reset();
                          window.location.href = "{% url 'users:login' %}";
                          window.alert(data.msg);
                      } else if (data.status == 'fail') {
                          window.alert(data.msg);
                      }
                  }
              });
          });
      })
  </script>
{% endblock other_js %}

